<div class="hero-text">
  <h1>Welcome, <%= current_user.username %>!</h1>
  <% if current_user.admin? %>
    <%= link_to "All Categories", admin_categories_path %><br>
    <%= link_to "Create a new Image", new_admin_image_path(current_user) %><br>
  <% end %>

  <%= link_to "Create a New Idea", new_user_idea_path(current_user) %><br>
  <%= link_to "Edit Profile Information", edit_user_path(current_user) %><br>
  <%= link_to "Log Out", login_path  %><br>
</div>
