<div class="hero-text">
  Create a New Image!
  <%= form_for [:admin, @image] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br />

    <%= f.label :url %>
    <%= f.url_field :url %><br />

    <%= f.submit %>
  <% end %>
</div>
