<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "main.css" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'partials/navigation' %>
    <%= yield %>
  </body>
</html>
